jpsreport/xsd/jps_report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JPSreport">
    <xs:complexType>
      <xs:all>
        <xs:element name="geometry">
          <xs:annotation>
            <xs:documentation>geometry file</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="file" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="logfile">
          <xs:annotation>
            <xs:documentation>logfile file</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="trajectories">
          <xs:annotation>
            <xs:documentation>trajectories file and format either a file name or a path location. In the latter case all files in the directory will be used.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="path">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="location" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="format" use="required"/>
            <xs:attribute type="xs:string" name="unit" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="output">
          <xs:annotation>
            <xs:documentation>give relative path based on the location inifile or give the absolute path.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="location" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="measurement_areas">
          <xs:annotation>
            <xs:documentation>Define the measurement areas will be used.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="area_B" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vertex" maxOccurs="unbounded" minOccurs="4">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="x"  use="optional"/>
                            <xs:attribute type="xs:float" name="y"  use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="length_in_movement_direction" maxOccurs="1" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="distance" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="required"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:float" name="zPos" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="area_L" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="start">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="x" use="required"/>
                            <xs:attribute type="xs:float" name="y" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="end">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="x" use="required"/>
                            <xs:attribute type="xs:float" name="y" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="required"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:float" name="zPos" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="unit" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="velocity">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="set_movement_direction"/>
              <xs:element type="xs:string" name="ignore_backward_movement"/>
              <xs:element type="xs:int" name="frame_step">
                <xs:annotation>
                  <xs:documentation>half of the time interval that used to calculate instantaneous velocity 
         of ped i [fr] here v_i = (X(t+deltaF) - X(t+deltaF))/(2*deltaF). X is location.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_A">
          <xs:annotation>
            <xs:documentation>Method A (Zhang2011a) flow and velocity</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frame_interval" >
                <xs:annotation>
                  <xs:documentation>Time interval used to count the flow [fr]</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int" >
                      <xs:attribute type="xs:string" name="unit"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>The coordinate of the line used to calculate the flow and velocity</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_B">
          <xs:annotation>
            <xs:documentation>Method B (Zhang2011a) density and velocity based on T_in and T_out</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_C">
          <xs:annotation>
            <xs:documentation>Method C (Zhang2011a) Classical density and velocity</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_D">
          <xs:annotation>
            <xs:documentation>Method D (Zhang2011a) Voronoi density and velocity</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                      <xs:attribute type="xs:int" name="start_frame"  use="required"/>
                      <xs:attribute type="xs:int" name="stop_frame"  use="required"/>
                      <xs:attribute type="xs:string" name="get_individual_FD"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="one_dimensional">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="cut_by_circle">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                      <xs:attribute type="xs:double" name="radius"  use="required"/>
                      <xs:attribute type="xs:int" name="edges"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="profiles">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"  use="required"/>
                      <xs:attribute type="xs:float" name="grid_size_x"  use="required"/>
                      <xs:attribute type="xs:float" name="grid_size_y"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"  use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_I">
          <xs:annotation>
            <xs:documentation>Method I individual Voronoi density and velocity</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                      <xs:attribute type="xs:int" name="start_frame"  use="required"/>
                      <xs:attribute type="xs:int" name="stop_frame"  use="required"/>
                      <xs:attribute type="xs:string" name="get_individual_FD"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="one_dimensional">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="cut_by_circle">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                      <xs:attribute type="xs:double" name="radius"  use="required"/>
                      <xs:attribute type="xs:int" name="edges"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"  use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="method_J">
          <xs:annotation>
            <xs:documentation>Method Voronoi density and velocity</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="measurement_area" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"  use="required"/>
                      <xs:attribute type="xs:int" name="start_frame"  use="required"/>
                      <xs:attribute type="xs:int" name="stop_frame"  use="required"/>
                      <xs:attribute type="xs:string" name="get_individual_FD"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="one_dimensional">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="cut_by_circle">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"   use="required"/>
                      <xs:attribute type="xs:double" name="radius"  use="required"/>
                      <xs:attribute type="xs:int" name="edges"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="profiles">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="enabled"  use="required"/>
                      <xs:attribute type="xs:float" name="grid_size_x"  use="required"/>
                      <xs:attribute type="xs:float" name="grid_size_y"  use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled"  use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute type="xs:string" name="project"  use="required"/>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0.8.5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>