xsd/jps_ini_core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="JuPedSim">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:int" name="seed" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>seed used for initialising random generator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="num_threads" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>maximal simulation time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:float" name="max_sim_time" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="events_file" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:boolean" name="show_statistics" minOccurs="1" maxOccurs="1" />
        <xs:element type="xs:string" name="geometry" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>geometry file</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="trajectories" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>trajectories file and format</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="location" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="socket" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="hostname" use="required" />
                      <xs:attribute type="xs:short" name="port" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="format">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="xml-plain" />
                  <xs:enumeration value="plain" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="color_mode" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="velocity" />
                  <xs:enumeration value="knowledge" />
                  <xs:enumeration value="group" />
                  <xs:enumeration value="router" />
                  <xs:enumeration value="spotlight" />
                  <xs:enumeration value="final_goal" />
                  <xs:enumeration value="intermediate_goal" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:float" name="fps" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="hybrid_simulation" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="server" use="required" />
                <xs:attribute type="xs:short" name="port" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="logfile" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>where to store the logs</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="traffic_constraints" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>traffic information: e.g closed doors or smoked
              rooms
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="doors" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>doors states are: close or open</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="door" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="trans_id" use="required" />
                            <xs:attribute type="xs:string" name="caption" use="required" />
                            <xs:attribute type="xs:string" name="state" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="routing" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="goals" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="goal" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="polygon">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="vertex">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:float" name="px" use="required" />
                                        <xs:attribute type="xs:float" name="py" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="required" />
                        <xs:attribute type="xs:string" name="caption" use="required" />
                        <xs:attribute name="final" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="true" />
                              <xs:enumeration value="false" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="waiting_area" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="polygon">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="vertex">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:float" name="px" use="required" />
                                        <xs:attribute type="xs:float" name="py" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="next_wa">
                            <xs:complexType>
                              <xs:attribute type="xs:int" name="id" use="required" />
                              <xs:attribute type="xs:float" name="p" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="required" />
                        <xs:attribute type="xs:string" name="caption"/>
                        <xs:attribute type="xs:int" name="room_id"  use="required"/>
                        <xs:attribute type="xs:int" name="subroom_id"  use="required"/>
                        <xs:attribute type="xs:int" name="transition_id" />
                        <xs:attribute type="xs:int" name="waiting_time" />
                        <xs:attribute type="xs:int" name="min_peds" />
                        <xs:attribute type="xs:int" name="max_peds" />
                        <xs:attribute name="is_open">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="true" />
                              <xs:enumeration value="false" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="global_timer">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="true" />
                              <xs:enumeration value="false" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>

                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="agents" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>persons information and distribution</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="agents_distribution" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="group_id" use="required" />
                            <xs:attribute type="xs:int" name="agent_parameter_id" use="required" />
                            <xs:attribute type="xs:int" name="room_id" use="required" />
                            <xs:attribute type="xs:int" name="subroom_id" use="required" />
                            <xs:attribute type="xs:int" name="number" use="required" />
                            <xs:attribute type="xs:float" name="start_x" use="optional" />
                            <xs:attribute type="xs:float" name="start_y" use="optional" />
                            <xs:attribute type="xs:int" name="goal_id" use="optional" />
                            <xs:attribute type="xs:int" name="router_id" use="optional" />
                            <xs:attribute type="xs:float" name="patience" use="optional" />
                            <xs:attribute type="xs:float" name="x_min" use="optional" />
                            <xs:attribute type="xs:float" name="x_max" use="optional" />
                            <xs:attribute type="xs:float" name="y_min" use="optional" />
                            <xs:attribute type="xs:float" name="y_max" use="optional" />
                            <xs:attribute type="xs:float" name="pre_movement_mean" use="optional" />
                            <xs:attribute type="xs:float" name="pre_movement_sigma" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="agents_sources" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="source" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="id" use="required" />
                            <xs:attribute type="xs:float" name="frequency" use="required" />
                            <xs:attribute type="xs:int" name="agents_max" use="required" />
                            <xs:attribute type="xs:int" name="group_id" use="required" />
                            <xs:attribute type="xs:string" name="caption" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="operational_model_id" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="operational_models" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>These parameters may be overwritten</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="model" maxOccurs="2" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="model_parameters" maxOccurs="1" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="solver" />
                          <xs:element type="xs:float" name="stepsize" />
                          <xs:element name="exit_crossing_strategy">
                            <xs:simpleType>
                              <xs:restriction base="xs:int">
                                <xs:minInclusive value="1" />
                                <xs:maxInclusive value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="linkedcells">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="enabled" use="required" />
                                  <xs:attribute type="xs:float" name="cell_size" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="force_ped" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="nu" use="required" />
                                  <xs:attribute type="xs:float" name="dist_max" use="optional" />
                                  <xs:attribute type="xs:float" name="disteff_max" use="optional" />
                                  <xs:attribute type="xs:float" name="interpolation_width" use="optional" />
                                  <xs:attribute type="xs:float" name="b" use="optional" />
                                  <xs:attribute type="xs:float" name="c" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="force_wall" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="nu" use="required" />
                                  <xs:attribute type="xs:float" name="dist_max" use="optional" />
                                  <xs:attribute type="xs:float" name="disteff_max" use="optional" />
                                  <xs:attribute type="xs:float" name="interpolation_width" use="optional" />
                                  <xs:attribute type="xs:float" name="b" use="optional" />
                                  <xs:attribute type="xs:float" name="c" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="agent_parameters" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="v0" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="v0_upstairs" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="v0_downstairs" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="bmax" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="bmin" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="amin" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="tau" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="atau" maxOccurs="1" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="mu" use="required" />
                                  <xs:attribute type="xs:float" name="sigma" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="agent_parameter_id" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="operational_model_id" use="required" />
                  <xs:attribute name="description" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="gompertz" />
                        <xs:enumeration value="gcfm" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="route_choice_models" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="router" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="parameters">
                      <xs:complexType mixed="true">
                        <xs:all>
                          <xs:element name="navigation_lines" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>extra routing information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="file" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="navigation_mesh" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="method" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="triangulation" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="use_for_local_planning" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="true|false" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="router_id" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                        <xs:maxInclusive value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="description" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="quickest" />
                        <xs:enumeration value="global_shortest" />
                        <xs:enumeration value="cognitive_map" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute type="xs:string" name="project" />
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:enumeration value="0.5" />
            <xs:enumeration value="0.6" />
            <xs:enumeration value="0.7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>

