xsd/jps_events.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JPScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="events">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="time" use="required" />
                      <xs:attribute type="xs:int" name="id" use="required" />
                      <xs:attribute type="xs:string" name="caption" use="optional" />
                      <xs:attribute name="type" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="door" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="state" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="open" />
                            <xs:enumeration value="close" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="update_frequency" use="required" />
            <xs:attribute type="xs:float" name="update_radius" use="required" />
            <xs:attribute name="agents_color_by_knowledge" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="true" />
                  <xs:enumeration value="false" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="project" />
      <xs:attribute type="xs:float" name="version" />
    </xs:complexType>
  </xs:element>
</xs:schema>
