xsd/jps_events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JPScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="events">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="time" use="required"/>
                      <xs:attribute type="xs:string" name="type"   use="required"/>
                      <xs:attribute type="xs:string" name="state"   use="required"/>
                      <xs:attribute type="xs:int" name="id"  use="required" />
                      <xs:attribute type="xs:string" name="caption" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="project" use="required"/>
      <xs:attribute type="xs:float" name="version" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>